* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #1b1a19;
  --dark: #1b1a19af;
  --darkalt: #1b1a19af;
  --shape: .2rem;
  --appear-origin: left bottom;
  background-color: var(--bg);
}

.my-prism-code {
  width: 600px;
  border-radius: var(--shape) !important;
}

.my-prism-code pre {
  background-color: var(--dark) !important;
  padding: 2rem !important;
  border-radius: var(--shape) !important;
}

.my-prism-code pre:hover {
  background-color: var(--darkalt) !important;

}

.my-prism-code pre:focus {
  background-color: var(--darkalt) !important;

}

/* Estilo para o scrollbar da página */
::-webkit-scrollbar {
  /* Largura da barra */
  width: 0rem;
}


/* Estilo para o thumb (barra de arrastar) */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Cor de fundo */
  border-radius: 1px;
  cursor: pointer;
  /* Arredondamento das bordas */
}

/* Estilo para o thumb quando estiver em hover */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  /* Cor de fundo em hover */
}

.pulso {
  animation: pulso 5s ease-in-out infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10000;
}


.pulso-reverse {
  animation: pulso_reverse 10s ease-in-out infinite alternate-reverse;
}

.pisca {
  animation: pisca 1s ease-in-out infinite;
}

.appear {
  animation: appear 200ms ease-in-out;
  transform-origin: var(--appear-origin);
}

@keyframes appear {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pisca {
  0% {
    opacity: 0;
  }


  100% {
    opacity: 1;
  }
}

@keyframes pulso {
  0% {
    transform: scale(1);
    opacity: .6;
  }

  40% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: .6;
  }
}

@keyframes pulso_reverse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  45% {
    transform: scale(1.5);
    opacity: .6;
  }


  100% {
    transform: scale(1);
    opacity: 1;
  }
}